@import url('reset.css');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap');

html {
  box-sizing: border-box;
  font-size: 10px;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
  font-family: 'Open Sans', sans-serif;
  font-size: 1.6rem;
}

/* Utility Classes */
.container {
  padding: 20px;
}

.h1 {
  font-weight: 700;
}

.mr1 {
  margin-right: 4px;
}

.mb5 {
  margin-bottom: 20px;
}

.mb8 {
  margin-bottom: 32px;
}

.website-border {
  border: 1px solid #4f4f4f;
}

.header {
  background: #d4d4d4;
}

.navigation-block--desktop {
  display: flex;
}

.navigation-block__list {
  display: inline-block;
}

.navigation-block__link,
.navigation-block__link:visited {
  color: #1c95a4;
}

.navigation-block__link::after {
  color: #000;
  content: '|';
  display: inline-block;
  font-size: 80%;
  font-weight: 700;
  padding: 0 3px;
}

.navigation-block__link--last::after {
  content: '';
}

.footer {
  background: #5b5b5b;
  color: #fff;
}